{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>

  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Сумма заказа</th>
      <th>Комментарий</th>
      <th>Состав заказа</th>
    </tr>

    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td><strong>{{ order.total_amount }} руб.</strong></td>
        <td>{{ order.comment }}</td>
        <td>
          <ul>
            {% for product in order.products %}
              <li>{{ product }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="8" class="text-center">Нет необработанных заказов</td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
